
<section id="second-heading" class="container my-5"></section>
    <div class="row justify-content-center">

        <div class="col-4 text-center" style="width: 350px; height: 350px;">
            <img src="/website/assets/img/2.jpg" class="img-fluid rounded-circle" alt="Image">
        </div>

        <div class="col-6">
            <h2>
                The Second Heading
                <small class="text-muted">Is Pretty Cool Too.</small>
            </h2>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>


    </div>
</section>

